@page "/admin-login"
@inject NavigationManager NavigationManager
@using BlazorApp2.Models
@using BlazorApp2
@using BlazorApp2.Components
@rendermode InteractiveServer
@inject UserService UserService

<h3>Admin Login</h3>

<label for="username">Username:</label>
<input type="text" @bind="@username" />

<label for="password">Password:</label>
<input type="password" @bind="@password" />

<button class="btn btn-primary" @onclick="checkLogin">Login</button>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

@code {
    private string errorMessage = string.Empty;
    string username = "";
    string password = "";


    private async Task checkLogin()
    {
        //if (username == "admin" && password == "password")
        var user = await UserService.AuthenticateUser(username, password);

        if (user != null && user.Role == "admin")
        {
            // enabling this to access view tickets page
            GlobalVariables.isAdmin = true;
            NavigationManager.NavigateTo("/admin_dashboard");
        }
        else
        {
            errorMessage = "Invalid username or password.";
        }
    }
}
