@page "/tickets"
@using BlazorApp2.Models
@using BlazorApp2.Services
@using Microsoft.AspNetCore.Authorization
@inject TicketService TicketService
@inject NavigationManager NavigationManager

<h3>Create Ticket</h3>

<label for="newTicket">New Ticket:</label>
<input type="text" id="newTicket" name="newTicket" />

<div>
    <label>Ticket ID:</label>
    <input type="Number" @bind="newTicket.TicketId" />
</div>
<div>
    <label>Title:</label>
    <input type="Text" @bind="newTicket.Title" />
</div>
<div>
    <label>Customer Name:</label>
    <input type="Text" @bind="newTicket.CustomerName" />
</div>
<div>
    <label>Issue:</label>
    <input type="Text" @bind="newTicket.Issue" />
</div>
<div>
    <label>Company Name:</label>
    <input type="Text" @bind="newTicket.CompanyName" />
</div>
<div>
    <label>Issue Category:</label>
    <input type="Text" @bind="newTicket.IssueCategory" />
</div>
<div >
    <label>Description:</label>
    <input type="TextArea" @bind="newTicket.Description" />
</div>
<div>
    <label>Created Date:</label>
    <input type="date" @bind="newTicket.CreatedDate"/>
</div>
<div>
    <label>Status:</label>
    <input input="Text" @bind="newTicket.Status" />
</div>
<div>
    <label>Assign To:</label>
    <input type="Text" @bind="newTicket.AssignTo" />
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
@code {
    private Ticket newTicket = new Ticket();
    private List<Ticket> tickets = new List<Ticket>();
    private string errorMessage;
    private string username;
    private string password;

    protected override async Task OnInitializedAsync()
        {

        if (GlobalVariables.isCustomer==true)
            {
                // Proceed with creating the ticket
                CreateTicket();
                TicketService.AddTicket(newTicket);
            }
            else
            {
            NavigationManager.NavigateTo("/customer-login");
            }
        }

        private void CreateTicket()
    {
        TicketService.AddTicket(newTicket);
        tickets = TicketService.GetTickets();
        newTicket = new Ticket(); // Reset the form
    }
}

